@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
//@import "utils/_reset";
@import "utils/_normalize";
@import "utils/_functions";
@import "smart-grid";

.l-container {
    @include container();
}

.l-row {
    @include row-flex();
}

.img-example {
    @include col();
    @include size(12);
    background-color: #004444;
    width: 100%;
    height: 1080px;
    display: flex;
    justify-content: center;
}

.logo {
    @include col();
    @include size(2);
    @include size-xl(2); /* при 1200px - На планшете по ... колонок */
    @include size-lg(2); /* при 992px - На планшете по ... колонок */
    @include size-md(2); /* при 768px - На планшете по ... колонок*/
    @include size-sm(2); /* при 576px - На телефоне по ... колонок*/
    @include size-xs(2); /* при 320px - На телефоне с маленьким экраном по ... колонок */
    background-color: yellow;
    height: 6rem;
}




/* моё начинается здесь */


$color-red: #d84b53;
$color-red_dark: #be424a;
$color-grey_light: #b5b5b5;
$color-grey_dark: #888;


* {
    box-sizing: border-box;
    // margin: 0; ?
    // padding: 0; ?
}

body {
    background-color: #1e2328;
    position: relative;
    overflow-x: hidden;
    font-family: 'SF Pro Display'; 
    font-weight: 400; 
    font-style: normal;
}
.content-wrapper {
    // overflow-x: hidden; !!!
}
section {
    width: 100%; //!!!
    margin-bottom: 186px;
}
.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 20px;
}
h1, h2, h3, p {
    color: #fff;
}
.title {
    font-weight: 300;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
h2.title {
    font-size: 60px;
    line-height: 72px;
    margin-bottom: 85px;
}
h3.title {
    font-size: 40px;
    line-height: 48px;
    // margin-bottom: ;
}
.text {
    font-weight: normal;
    font-size: 26px;
    line-height: 1.35;
    letter-spacing: 0.03em;
    color: #fff;
}
a {
    text-decoration: none;
    transition: all .3s ease;
}
.link-more {
    color: #fff;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.13em;
    display: block;
    position: relative;
    text-transform: uppercase;
    border: 1px solid #fff;
    border-radius: 40px;
    padding: 0 50px 0 20px;
    height: 48px;
    line-height: 48px;
    width: 180px;

    &::before {
        content: '';
        display: block;
        width: 18px;
        height: 17px;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        background-image: url(/assets/img/icon-arrow.svg);
    }
}
.btn {

    text-transform: uppercase;
    color: #fff;
    // border: 2px solid $color-red;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 15px;
    letter-spacing: 0.13em;
    height: 52px;
    line-height: 51px;
    // text-align: center;
    cursor: pointer;
    transition: all .3s ease;
        
    &-transparent {
        border: 2px solid $color-red;
        background-color: transparent;
        padding: 0 30px;

        &:hover {
            background-color: $color-red;
        }
        &:focus {
            background-color: $color-red_dark;
            border-color: $color-red_dark;
        }
    }

    &-color {
        background-color: $color-red;
        border: none;
        width: 100%;
        max-width: 350px;

        &:hover,
        &:focus {
            background-color: $color-red_dark;
        }
    }
}

.btn-left,
.btn-right {
    border-radius: 100%;
    border: 1px solid #fff;
    background-color: transparent;
    background-image: url(/assets/img/icon-arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 48px;
    height: 48px;
    cursor: pointer;
    transition: all .3s ease;

    &:hover,
    &:focus {
        background-color: #fff;
    }
}
.btn-left {
    transform: rotate(180deg);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.slick-dots {
    display: flex;

    button {
        border: none;
        background-color: transparent;
        color: #fff;
        position: relative;
        display: block;
        font-size: 0;
        line-height: 0;
        width: 34px;
        height: 34px;
        padding: 0;
        margin: 0 8px;
        cursor: pointer;
        outline: none;

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 100%;
        }

        &::before {
            width: 8px;
            height: 8px;
            background-color: transparent;
            border: 1px solid #fff;
        }

        &::after {
            width: 32px;
            height: 32px;
            border: 1px solid $color-red;
        }
    }

    .slick-active {
        button::before {
            background-color: #fff;
        }
    }
}




/************************/
header {
    position: absolute;
    z-index: 1;
    width: 100%;
    padding: 20px 0;
    z-index: 3;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        display: block;
        background-color: transparent;
        width: auto;
        height: auto;
        margin: 0;
    }

    .nav {
        display: flex;

        >.item {
            margin: 0 35px;
            font-size: 18px;
            letter-spacing: 0.02em;

            &-sub {
                position: relative;
                padding-right: 20px;
                
                &:hover {
                    &::before {
                        //цвет стрелочки
                    }
                }

                &::before {
                    content: '';
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 12px;
                    height: 7px;
                    background-image: url(/assets/img/icon-arrow_s.svg);
                    cursor: pointer;
                }

                // &.open,
                &:hover {
                    .subnav {
                        transform: translateY(0);
                    }
                }
            }

            .subnav{
                position: absolute;
                left: -30px;
                top: calc(100% + 12px);
                transform: translatez(-200%);
                transition: transform .3s ease;

                .item {
                    display: block;
                    white-space: nowrap;

                    .link {
                        padding: 10px 10px 10px 30px;
                        background: rgba(40, 48, 55, 0.8);
                        transition: all .3s ease;
                        display: block;
                        width: 100%;

                        &:hover {
                            background: #283037;
                        }
                    }

    
                }
            }
        }
    }

    .nav,
    .subnav {
        .link {
            color: #fff;

            &:hover {
                color: $color-red;
            }
        }
    }

    .contacts {
        text-align: right;

        .link {
            display: block;
            margin-bottom: 10px;
            color: #fff;
            font-size: 18px;
            line-height: 21px;
            letter-spacing: 0.03em;

            &:hover {
                color: $color-red;
            }
        }
    }
}

.banner {
    width: 100%;
    position: relative;
    margin-bottom: calc(-45vw / 16 * 9);
    height: calc(100vh + (45vw / 16 * 9));

    &::before {
        content: '';
        background: linear-gradient(0deg, rgba(41, 50, 57, 0.85), rgba(41, 50, 57, 0.85));
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    &-video {
        position: sticky;
        top: 0;
        height: 100vh;
        width: 100%;
    }

    &-bg {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .container {
        position: absolute;
        height: 100vh;
        top: 0;
        width: 100%;
        z-index: 2;
        left: 50%;
        transform: translateX(-50%);
    }

    &-wrapper {
        position: absolute;
        top: 40%;
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .title {
        width: 55%;
        margin-right: 200px;

        .accented {
            color: $color-red;
        }
    }

    .text {
        font-weight: 200;
        font-size: 44px;
        line-height: 1.2;
    }
}


.video-block {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: auto;
    z-index: 2;
    position: relative;
}

.video-wrapper { //проверитьjs
    position: relative;
    cursor: pointer;
    width: 90%;

    .video {
        width: 100%;
    }

    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &::before {
        // background-image: url(assets/img/video-play.svg);
        background-image: url(/assets/img/icon-play.svg);
        background-repeat: no-repeat;
        width: 50px;
        height: 51px;
        z-index: 5;
    }

    &::after {
        width: 240px;
        height: 240px;
        z-index: 4;
        border-radius: 100%;
        border: 3px solid $color-red;
        // transition: opacity .3s ease;
    }

    &.play::before,
    &.play::after {
        display: none;
    }
    // &:hover::after {
    //     opacity: 1;
    // }
}

.traffic {
    .card {
        &-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 0 -24px;
        }

        &-item {
            position: relative;
            padding: 56px 24px 40px;
            margin-bottom: 45px;
            width: calc(50% - 48px);
            overflow: hidden;

            &:hover {
                .card-wrapper {
                    transform: translateY(0);
                }

                .card-content {
                    &::after {
                        transform: translateY(0);
                    }
                }
            }
        }
        //hover

        &-bg {
            height: 100%;
            width: 100%;
            object-fit: cover;
            display: block;
            left: 0;
            top: 0;
            position: absolute;
            z-index: -1;
        }

        &-content {
            z-index: 0;

            &::before {
                content: '';
                background-image: linear-gradient(0deg, rgba(41, 50, 57, 0.7), rgba(41, 50, 57, 0.7));
                display: block;
                position: absolute;
                left: 0;
                height: 100%;
                top: 0;
                width: 100%;
                z-index: -1;
            }
            
            &::after {
                content: '';
                display: block;
                position: absolute;
                height: 5px;
                background-image: none;
                background-color: $color-red;
                top: auto;
                bottom: 0;
                width: 100%;
                left: 0;

                transition: transform .3s ease;
                transform: translateY(100%);
            }

        }

        &-wrapper {
            transform: translateY(calc(100%-60px));
            transition: transform .5s ease;
        }

        &-title {
            padding-bottom: 12px;
            position: relative;

            &::before {
                content: '';
                height: 1px;
                width: 100%;
                background-color: $color-grey_dark;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }

        &-text {
            font-weight: 300;
            font-size: 26px;
            line-height: 1.3;
            letter-spacing: 0.03em;
            color: $color-grey_light;
            margin-bottom: 60px;
        }

    }

}

.importers {

    .title {
        text-align: center;
    }

    .list {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        // justify-content: space-between;
        align-items: center;
    }
    
    .item {
        width: 25%;
        text-align: center;
        cursor: pointer;
        margin-bottom: 120px;
    }

    .item-details {
        background-color: #313a42;
        border-top: 7px solid #272e35;
        border-bottom: 7px solid #272e35;
    }

    .details {

        .container {
            display: flex;
            justify-content: space-between;
        }

        .col-left {
            width: 66%;
        }
        .col-right {
            width: 32%;
        }

        &-img {
            width: 100%;
        }

        &-slider {

            .slick-list {
                margin-bottom: 10px;
            }

            .slick-dots {
                justify-content: center;
            }

            .slide-img {
                width: 100%;
                height: auto;
                // max-height: 300px;
            }
        }
    }
}

.choice-us {
    margin-bottom: 240px;
    position: relative;

    .slick-prev,
    .slick-next {
        position: absolute;
        top: 0%;
        left: 0;
    }

    &-slider {
        position: relative;

        // &::before,
        // &::after {
        //     content: '';
        //     position: absolute;
        //     width: 105vw;
        //     height: 100%;
        //     background-color: #283037;
        //     right: -100vw;
        // }
        // &::before {
        //     top: 0;
        //     left: 28%;
        //     height: calc(100% - 32px);
        // }
        // &::after {
        //     top: 32px;
        //     background-color: #313a42;
        //     right: 70%;
        //     height: calc(100% - 32px);
        //     z-index: -1;
        // }
    }

    .title {
        text-align: center;
    }

    &-wrapper {
        display: flex;
        padding-bottom: 32px;
    }
    .col-left {
        margin-top: 32px;
        margin-bottom: -32px;
        margin-right: -38px;
        background-color: #313a42;
        width: 30%;
        padding: 96px 122px 90px 0;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        // &::before {
        //     background-color: #313a42;
        //     left: -100vw;
        // }

        &-title {
            font-size: 60px;
            line-height: 72px;
            letter-spacing: 0.03em;
            color: $color-red;
            margin: 0 0 8px;
        }

        &-subtitle {
            font-weight: 300;
            padding-bottom: 24px;
            position: relative;
            margin: 0 0 28px;
            color: #fff;
            text-transform: uppercase;

            &::before {
                content: '';
                height: 1px;
                width: 100%;
                background-color: $color-grey_dark;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
        
        .pager {
            color: #fff;
            display: flex;

            .page {
                margin: 0 40px;
            }

            .text {
                line-height: 48px;
            }
        }
    }
    .col-right {
        background: #283037;
        padding: 105px 0 105px 134px;
        width: 70%;
        position: relative;

        .blockquote {
            font-style: italic;
            font-size: 26px;
            line-height: 31px;
            letter-spacing: 0.05em;
            margin: 0 0 24px;
            color: #fff;
        }

        .author {
            font-size: 24px;
            line-height: 1.2;
            letter-spacing: 0.03em;
            color: $color-grey_light;
            margin: 0;
        }

        .decor {
            margin: 44px 0;
        }
    }
}

.map {

    .container {
        display: flex;
    }

    .title {
        font-size: 30px;
        line-height: 36px;
        color: #fff;
        text-transform: none;
        margin: 0 0 28px;

        .accented {
            color: $color-red;
        }
    }

    .text {
        color: $color-grey_light;
        margin-bottom: 24px;
    }

    .col-right {
        width: 69.1%;
        flex-shrink: 0;
    }
    
    &-wrapper {
        position: relative;
    }

    &-img {
        width: 100%;
    }



    @keyframes scaling {
        0%   { transform: scale(1); }
        50%  { transform: scale(1.5); }
        100% { transform: scale(1); }
      }

    &-point {
        background-image: url(/assets/img/icon-point.svg);
        position: absolute;
        width: 36px;
        height: 37px;

        animation: scaling 5s linear 0s infinite;

        &-1 {
            top: 50.3%;
            left: 12.6%;
        }
        &-2 {
            top: 61.4%;
            left: 12.5%;
        }
        &-3 {
            top: 75%;
            left: 6.3%; 
        }
        &-4 {
            top: 73.8%;
            left: 18.7%; 
        }
        &-5 {
            top: 70%;
            left: 26%; 
        }
        &-6 {
            top: 51.1%;
            left: 29.6%; 
        }
        &-7 {
            top: 66%;
            left: 34.2%; 
        }
        &-8 {
            top: 77%;
            left: 39%; 
        }
        &-9 {
            top: 55%;
            left: 49%; 
        }
        &-krsk {
            top: 82%;
            left: 49%;


            
            // &::before,
            // .map-geo {
            //     content: '';
            //     display: block;
            //     width: 128px;
            //     height: 146px;
            //     left: -46px;
            //     bottom: 6px;
            //     position: absolute;
            //     background-size: contain;
            //     background-image: url(/assets/img/icon-geo.svg);
            // }
        }
        &-10 {
            top: 62.6%;
            left: 61%; 
        }
        &-11 {
            top: 78%;
            left: 66.5%;
        }
        &-12 {
            top: 44.5%;
            left: 68%; 
        }
        &-13 {
            top: 69%;
            left: 74%; 
        }
        &-14 {
            top: 40%;
            left: 81%; 
        }
        &-15 {
            top: 73%;
            left: 81.5%;
        }
        &-16 {
            top: 86%;
            left: 87.5%; 
        }

        &-1,
        &-5,
        &-9,
        &-14,
        &-16 {
            animation-delay: -2500ms;
        }

        &-3,
        &-7,
        &-10,
        &-12,
        &-15 {
            animation-delay: -3400ms;
        }
        
    }

    &-geo {
        display: block;
        width: 128px;
        height: 146px;
        top: 82%;
        left: 49%;
        position: absolute;
        background-size: contain;
        background-image: url(/assets/img/icon-geo.svg);
        transform: translate(-46px, -116px);
    }
}

.work {
    .title {
        width: 50%;
        margin-bottom: 100px;
    }

    .card {
        &-item {
            display: flex;
            margin: 0 -25px 50px;

            &.card-right {
                .card-content {
                    order: 1;
                    padding-right: 130px;
                }

                .card-wrapper {
                    order: 2;
                }
            }

            &.card-left {
                .card-content {
                    padding-left: 130px;
                }
            }

            &:hover {
                .card-wrapper::before {
                    opacity: 0;
                }

                .card-title:before {
                    width: 100%;
                }
            }
        }

        &-wrapper {
            position: relative;

            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: linear-gradient(0deg, rgba(30, 35, 40, 0.75), rgba(30, 35, 40, 0.75));
                opacity: 1;
                transition: opacity .5s ease;
            }
        }

        &-img {
            width: 100%;
            max-height: 350px;
            object-fit: cover;
        }

        &-content {
            align-self: center;
        }

        &-wrapper,
        &-content {
            width: 50%;
            padding: 0 25px;
        }

        &-title {
            font-weight: 300;
            font-size: 30px;
            line-height: 1.2;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            margin: 0 0 20px;
            padding-bottom: 22px;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                width: 25%;
                height: 1px;
                background-color: $color-red;
                bottom: 0;
                left: 0; 
                transition: width .5s ease;;
            }
        }
    }

    .text {
        font-weight: 300;
        color: $color-grey_light;
    }
}

.form-block {
    padding: 38px 0 50px;
    background-color: #fff;
}
.form {
    background-color: #fff;
    color: #000;
    margin: 0 auto;
    padding: 100px 80px;
    text-align: center;
    max-width: 940px;

    .title,
    .subtitle {
        letter-spacing: 0.03em;
        text-align: center;
        color: #283038;
        max-width: 740px;
        margin: 0 auto;
        font-weight: normal;
    }

    .title {
        font-size: 50px;
        line-height: 60px;
        letter-spacing: 0.03em;
        margin-bottom: 20px;
    }

    .subtitle {
        font-size: 30px;
        line-height: 36px;
        text-transform: lowercase;
        margin-bottom: 54px;
    }

    &-top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 65px;
    }

    .label {
        border-bottom: 1px solid #1d2227;
        width: calc(50% - 24px);
        max-width: 350px;
    }

    .input {
        border: none;
        width: 100%;
        padding: 10px;
    }
    

}

.footer {
    padding: 50px 0 25px;

    .container {
        display: flex;
        flex-wrap: wrap;
    }

    &-top {
        border-bottom: 1px solid #475059;

        .links {
            font-size: 14px;
            line-height: 1.3;
            color: #81878c;
            margin-bottom: 22px;
        }
    }

    &-top,
    &-bottom {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .col {
        width: 33.3%;

        &-center {
            text-align: center;
        }

        &-right {
            text-align: right;
        }
    }
}

@media(max-width: 1440px) {
    .container {
        max-width: 1200px;
    }
}