footer(class="footer")
    div(class="container")
        div(class="footer-top")
            div(class="col col-left contacts")
                a(href="tel:+73912811040") +7 (391) 281-10-40
                a(href="mailto:info@alente.ru") info@alente.ru 
                p(class="address") г. Красноярск, ул. Петра Ломако,14, пом.432
                
            div(class="col col-center logo-wrapper")
                a(class="logo-img" href="#")
                    img(src="assets/img/logo.svg", alt="alente-logo") 

            div(class="col col-right links")
                p ИП Демешко Алексей Александрович, ОГРНИП 313246821900060
                a(href="") Политика конфиденциальности
                a(href="") Использование контента

        div(class="footer-bottom")
            div(class="col col-left copyright") 2021г. ©

            div(class="col col-center social") 
                div(class="social-wrapper")
                    a(class="telegram" href="")
                    a(class="whatsapp" href="")
                    a(class="instagram" href="")
                    
            div(class="col col-right developer") Разработка сайта a(href="") 
