div(class="form")
    h2(class="title") Оставьте заявку на интернет-продвижение
    h3(class="subtitle") и получите аудит и рекомендации бесплатно
    form(class="" action="#" method="post")
        div(class="form-top")
            label(class="label")
                input(class="input" type="text" name="name" placeholder="Имя")
            label(class="label")
                input(class="input" type="tel" name="phone" placeholder="Телефон")
        button(class="btn btn-color" type="submit") Оставить заявку
        label(class="checkbox")
            input(type="checkbox") 
            span(class="") Отправляя это сообщение, вы соглашаетесь на обработку персональных данных.
        label(class="checkbox")
            input(type="checkbox")
            span(class="") Отправляя это сообщение, вы соглашаетесь с политикой конфиденциальности.
