header
    div(class="container")
        a(class="logo" href="#") 
            img(src="assets/img/logo.svg", alt="alente-logo")
        ul(class="nav")
            li(class="item item-sub") 
                a(class="link" href="") Услуги
                ul(class="subnav")
                    li(class="item") 
                        a(class="link" href="") SEO-продвижение
                    li(class="item") 
                        a(class="link" href="") Поддержка
                    li(class="item") 
                        a(class="link" href="") Реклама
                    li(class="item") 
                        a(class="link" href="") Разработка
            li(class="item") 
                a(class="link" href="") Портфолио
            li(class="item") 
                a(class="link" href="") Блог
        div(class="contacts")
            a(class="link" href="tel:+73912811040") +7 (391) 281-10-40
            a(class="link" href="mailto:info@alente.ru") info@alente.ru 
        button(class="btn btn-transparent" action="") Оставить заявку

