extends ../layout/base

block variables
    //подключаем основу для страницы и выводим в нее данные
    - var title='Webpack-template with Pug';
    - var description='Description for webpack + Pug';
    - var pageClass='index-page';

block content


    section(class="banner")
        div(class="banner-video")
            img(class="banner-bg" src="/assets/img/banner__bg.jpeg", alt="")
            //- заменить имг на видео
        div(class="container")
            div(class="banner-wrapper")
                h1(class="title") <span class="accented">100%</span> наших клиентов <span class="accented">проходят аудит</span> импортёра и выполняют планы!
                p(class="text") Интернет-марктинг для автодилеров
        
    
    section(class="video-block")
        div(class="video-wrapper")
            video(class="video" src="assets/img/test-video.mov")

    section(class="traffic")
        div(class="container")
            h2(class="title") Как мы увеличиваем целевой трафик?
            div(class="card-list")
                div(class="card-item")
                    img(class="card-bg" src="assets/img/traffic__img1.jpg", alt="traffic__img")
                    div(class="card-content")
                        div(class="card-wrapper")
                            h3(class="title card-title") Реклама
                            p(class="card-text") Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, veritatis?
                            a(class="link-more" href="#") Подробнее
                div(class="card-item")
                    img(class="card-bg" src="assets/img/traffic__img2.jpg", alt="traffic__img")
                    div(class="card-content")
                        div(class="card-wrapper")
                            h3(class="title card-title") SEO
                            p(class="card-text") Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, veritatis?
                            a(class="link-more" href="#") Подробнее
                div(class="card-item")
                    img(class="card-bg" src="assets/img/traffic__img3.jpeg", alt="traffic__img")
                    div(class="card-content")
                        div(class="card-wrapper")
                            h3(class="title card-title") Поддержка
                            p(class="card-text") Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, veritatis?
                            a(class="link-more" href="#") Подробнее
                div(class="card-item")
                    img(class="card-bg" src="assets/img/traffic__img4.jpeg", alt="traffic__img")
                    div(class="card-content")
                        div(class="card-wrapper")
                            h3(class="title card-title") Разработка и переезд
                            p(class="card-text") Не просто настраиваем рекламу, а гарантированно приводим клиентов из Интернета в ваш бизнес
                            a(class="link-more" href="#") Подробнее
    
    section(class="importers")
        div(class="container")
            h2(class="title") Знаем, как меняются запросы импортёров
            ul(class="list")
                li(class="item")
                    img(src="assets/img/importers/logo-bmw.svg", alt="bmw")
                li(class="item")
                    img(src="assets/img/importers/logo-skoda.svg", alt="skoda")
                li(class="item")
                    img(src="assets/img/importers/logo-hyundai.svg", alt="hyundai")
                li(class="item")
                    img(src="assets/img/importers/logo-nissan.svg", alt="nissan")

                li(class="item")
                    img(src="assets/img/importers/logo-mitsubishi.svg", alt="mitsubishi")
                li(class="item")
                    img(src="assets/img/importers/logo-suzuki.svg", alt="suzuki")
                li(class="item")
                    img(src="assets/img/importers/logo-lexus.svg", alt="lexus")
                li(class="item")
                    img(src="assets/img/importers/logo-volvo.svg", alt="volvo")

                li(class="item")
                    img(src="assets/img/importers/logo-kia.svg", alt="kia")
                li(class="item")
                    img(src="assets/img/importers/logo-isuzu.svg", alt="isuzu")
                li(class="item")
                    img(src="assets/img/importers/logo-haval.svg", alt="haval")
                li(class="item")
                    img(src="assets/img/importers/logo-infiniti.svg", alt="infiniti")
                
                li(class="item")
                    img(src="assets/img/importers/logo-chevrolet.svg", alt="chevrolet")
                li(class="item")
                    img(src="assets/img/importers/logo-mazda.svg", alt="mazda")
                li(class="item")
                    img(src="assets/img/importers/logo-uaz.svg", alt="uaz")
                li(class="item")
                    img(src="assets/img/importers/logo-citroen.svg", alt="citroen")

                li(class="item")
                    img(src="assets/img/importers/logo-lada.svg", alt="lada")
                li(class="item")
                    img(src="assets/img/importers/logo-renault.svg", alt="renault")
                li(class="item")
                    img(src="assets/img/importers/logo-genesis.svg", alt="genesis")

        div(class="details")
            div(class="container")
                div(class="col-left")
                    img(class="details-img" src="assets/img/work__img1.jpg", alt="importer")
                div(class="col-right")
                    div(class="details-slider")
                        div(class="slide")
                            img(class="slide-img" src="assets/img/work__img1.jpg", alt="importer")
                        div(class="slide")
                            img(class="slide-img" src="assets/img/work__img2.jpg", alt="importer")
                        div(class="slide")
                            img(class="slide-img" src="assets/img/work__img3.jpg", alt="importer")
                        






    section(class="choice-us")
        div(class="container")
            h2(class="title") Почему клиенты выбирают нас?
            div(class="choice-us-slider")
               
                div(class="choice-us-slide")
                    div(class="choice-us-wrapper")
                        div(class="col-left")
                            div(class="col-left-wrapper")
                                h3(class="col-left-title") 2000 
                                //- > 2000 !
                                h4(class="col-left-subtitle text") успешно пройденных аудитов
                                p(class="text") Все наши клиенты всегда проходят аудит импортера и выполняют KPI по пункту «сайт».
                            div(class="pager")
                                button(class="pager-btn btn-left")
                                div(class="page text") <span class="current">1</span>/<span class="total">4</span>
                                button(class="pager-btn btn-right")

                        div(class="col-right")
                            div(class="quote")
                                blockquote(class="blockquote") «Нравится, что можно довериться, вы делаете всю работу очень качественно. Наш сайт всегда проходит проверки. Информация очень быстро актуализируется»
                                p(class="author") Дарья, «Хендэ Мурманск»
                            img(class="decor" src="assets/img/icon-quotes.svg", alt="quote-decor")
                            div(class="quote")
                                blockquote(class="blockquote") «На все вопросы, с которыми я обращаюсь (можем ли мы сделать такую-то штучку), менеджер прямо на пальцах объяснял все нюансы. Не просто говорил, что надо увеличить бюджет, а подробно объяснял, зачем, почему и как это повлияет на результат»
                                p(class="author") Елена «Шкода Омск»
                
                div(class="choice-us-slide")
                    div(class="choice-us-wrapper")
                        div(class="col-left")
                            div(class="col-left-wrapper")
                                h3(class="col-left-title") Второй слайд 
                                //- > 2000 !
                                h4(class="col-left-subtitle text") подсзаголовок
                                p(class="text") Все наши клиенты всегда проходят аудит импортера и выполняют KPI по пункту «сайт».
                            div(class="pager")
                                button(class="pager-btn btn-left")
                                div(class="page text") <span class="current">n</span>/<span class="total">4</span>
                                button(class="pager-btn btn-right")

                        div(class="col-right")
                            div(class="quote")
                                blockquote(class="blockquote") Восхваляющий текст Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur iure ullam tenetur culpa quaerat nesciunt hic nostrum fugit veniam perferendis sapiente unde libero neque voluptatibus nulla odio consequatur fugiat vitae voluptate veritatis, quis laboriosam iste? Voluptates dignissimos animi autem itaque tempora placeat nemo pariatur perspiciatis numquam laudantium repellat sed ex, ipsa fugit? Nisi autem molestiae quae, accusamus, consequatur, debitis omnis explicabo pariatur facilis quibusdam sit aut deleniti repellat accusantium ad fugit recusandae maiores. Quaerat laudantium laboriosam dolores atque tempore provident alias nihil ipsam? Impedit eligendi sapiente laborum nulla nam dignissimos atque asperiores non cum inventore rem soluta hic, ab dolorem odio velit enim! Eaque labore pariatur libero voluptatem voluptatum quisquam veritatis maxime velit dolores expedita. Aliquid eos voluptatibus esse eius, provident consectetur eum perspiciatis quisquam ex quasi voluptatum dicta facilis voluptates nihil nobis blanditiis similique totam sequi nam quo culpa ipsa vero incidunt. Tempore, dolorum ex quisquam adipisci debitis quia.
                                p(class="author") Первый автор 
                            img(class="decor" src="assets/img/icon-quotes.svg", alt="quote-decor")
                            div(class="quote")
                                blockquote(class="blockquote") Текст благодарности Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis deleniti voluptatum accusamus explicabo fugit. Sequi, fugit? Nam quidem tenetur impedit cupiditate voluptas aliquam adipisci perspiciatis natus ea. Placeat nobis repellendus accusantium non architecto! Cupiditate, modi laboriosam. Natus neque maiores eius est quasi rem pariatur exercitationem nihil dolore sequi. Porro voluptas exercitationem molestiae maxime, sed asperiores ipsa corrupti dolore rem? Delectus, ipsum quam facere, ratione consectetur iste error quasi, qui inventore tenetur esse consequuntur nihil? Neque eligendi recusandae quaerat quam quae, earum voluptatem modi ipsum nostrum quidem assumenda ipsa molestias quis quas ratione nisi labore, quos perspiciatis inventore. Dolorum optio aut ullam provident odio ratione quidem molestiae minima repellendus quam aliquam quisquam velit inventore eius, officiis accusamus non numquam libero assumenda quia est sit ab sed. Quasi explicabo sequi sapiente recusandae ab sunt mollitia aperiam atque. Nesciunt nobis tempore ea praesentium at veritatis architecto a? Alias excepturi, beatae odio eos sapiente asperiores accusantium deleniti quam magni voluptate incidunt, quibusdam, hic sed rem quos quasi a tempora ipsa fuga minima rerum nulla eveniet? Cupiditate accusamus laborum earum sequi, deleniti sapiente facilis aspernatur veniam tenetur, alias velit unde optio ea repellendus nam dicta molestiae illum. Minima nesciunt recusandae corporis nam, libero aliquid reprehenderit!
                                p(class="author") Автор второй цитаты


    section(class="map")
        div(class="container")
            div(class="col-left")
                h5(class="title") Сотрудничаем с клиентами <span class="accented">по всей России</span>
                p(class="text") Мы открыты и честны — можем предоставить вам контакты маркетологов, которые могут нас порекомендовать.
                button(class="btn btn-transparent" action="") Запросить контакты
            div(class="col-right")
                div(class="map-wrapper")
                    img(class="map-img" src="assets/img/map__img.svg", alt="map-img")
                    i(class="map-point map-point-1")
                    i(class="map-point map-point-2")
                    i(class="map-point map-point-3")
                    i(class="map-point map-point-4")
                    i(class="map-point map-point-5")
                    i(class="map-point map-point-6")
                    i(class="map-point map-point-7")
                    i(class="map-point map-point-8")
                    i(class="map-point map-point-9")
                    i(class="map-point map-point-krsk")
                    i(class="map-geo")
                    i(class="map-point map-point-10")
                    i(class="map-point map-point-11")
                    i(class="map-point map-point-12")
                    i(class="map-point map-point-13")
                    i(class="map-point map-point-14")
                    i(class="map-point map-point-15")
                    i(class="map-point map-point-16")

    section(class="work")
        div(class="container")
            h2(class="title") Выбирая работу с alente вы получаете
            div(class="card-list")
                div(class="card-item card-left")
                    div(class="card-wrapper")
                        img(class="card-img" src="assets/img/work__img1.jpg", alt="work__img")
                    div(class="card-content")
                        h3(class="card-title") Удобный, эффективный и безупречно работающий сайт
                        p(class="text") Благодаря этому можем гарантировать вам 100% прохождение аудита, так как знаем большинство требований импортера.
                div(class="card-item card-right")
                    div(class="card-wrapper")
                        img(class="card-img" src="assets/img/work__img2.jpg", alt="work__img")
                    div(class="card-content")
                        h3(class="card-title") Выполнение планов по трафику и лидам
                        p(class="text") Мы станем вам полноценным помощником по интернет-маркетингу.
                div(class="card-item card-left")
                    div(class="card-wrapper")
                        img(class="card-img" src="assets/img/work__img3.jpg", alt="work__img")
                    div(class="card-content")
                        h3(class="card-title") Гарантию прохождения аудита от импортера
                        p(class="text") У нас большой опыт в работе с импортерами, мы знаем их требования и работаем над сайтами с учетом существующих ограничений.

    section(class="form-block")
        include ../includes/modules/form

        //- div(class="content-wrapper")
        //-     +item('Заголовок 1', 'Первое описание')



block script
    script(type='text/javascript').
      let bar = function (x, y) {
        console.log(x + y);
      };
      bar(1, 5);

