include ../utils/mixins


block variables
    // Это основа для страниц
doctype html
html(lang='ru')
    head
        meta(charset='utf-8')
        title #{title}
        meta(name="description", content=description)
        link(href="/assets/fonts/SFPro/stylesheet.css" rel="stylesheet")
        link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
        
        script(type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js")
        script(type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
        script(type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")


    body(class=pageClass)
        include ../includes/modules/header
        div(class="content-wrapper")
            block content
        include ../includes/modules/footer

    block script
